{% extends "base.html"%}

    {% block content %}
        <h3>List of Useful links</h3>

        <ol>
            {% for topic, links in topics.items %}
                {% for link in links %}
                    <li>{{topic}}
                         <ul>
                            <li><a href="{{ link }}">{{link}}</a></li>
                        </ul>
                    </li>
                {% empty %}
                <!--<li>No link yet for this topic.</li>-->
                {% endfor %}
            {% endfor %}
        </ol>

    {% endblock%}